<div id="demo">
  <!-- <div class="invoice-header">
    <div class="invoice-title">
      <h2 class="text-bold">Booking Details Invoice</h2>
      <div class="company-logo">
        <img
          src="assets/logo.png"
          alt="Company Logo"
          style="width: 100px"
        />
      </div>
      <div class="company-info">
        <div class="company-name text-bold">Car Service</div>
        <div class="company-address">{{ odPrintDetails.companyAddress }}</div>
      </div>
    </div>
  </div> -->
  <div class="flex justify-content-between">
    <div>
      <div>Mega City Cab Service</div>
      <div>Colombo 10</div>
      <div>+94 77 566 1026/ +94 11 285 4620</div>
    </div>
    <div>
      <img
        src="assets/logo.png"
        alt="Image"
        style="width: 80px"
        class="mr-0 lg:mr-6"
      />
    </div>
  </div>

  <hr />

  <!-- Booking Information Section -->
  <div class="booking-info">
    <h3>Booking Information</h3>
    <div class="p-fluid grid formgrid">
      <div class="col-6">
        <div class="p-fluid grid formgrid">
          <div class="field col-6">
            <div class="label">Booking ID</div>
            <div class="value">{{ odPrintDetails?.bookingId }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Customer Name</div>
            <div class="value">{{ odPrintDetails?.user?.firstName }} {{ odPrintDetails?.user?.lastName }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Car Model</div>
            <div class="value">{{ odPrintDetails?.vehicle?.vehicleType }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Vehicle Registration No</div>
            <div class="value">{{ odPrintDetails?.vehicle?.registrationNo }}</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-fluid grid formgrid">
          <div class="field col-6">
            <div class="label">Start Date</div>
            <div class="value">{{ odPrintDetails?.startDate | date : "yyyy-MM-dd" }}</div>
          </div>
          <div class="field col-6">
            <div class="label">End Time</div>
            <div class="value">{{ odPrintDetails?.endDate | date : "yyyy-MM-dd" }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Distance</div>
            <div class="value">{{ odPrintDetails?.distance }}Km</div>
          </div>
          <div class="field col-6">
            <div class="label">Payment Status</div>
            <div class="value">Complete</div>
          </div>
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="p-fluid grid formgrid">
          <div class="field col-6">
            <div class="label">Dropoff Location</div>
            <div class="value">{{ odPrintDetails.dropoffLocation }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Driver Assigned</div>
            <div class="value">
              {{ odPrintDetails.driverAssigned ? "Yes" : "No" }}
            </div>
          </div>
          <div class="field col-6">
            <div class="label">Driver Name</div>
            <div class="value">{{ odPrintDetails.driverName }}</div>
          </div>
          <div class="field col-6">
            <div class="label">Driver Contact</div>
            <div class="value">{{ odPrintDetails.driverContact }}</div>
          </div>
        </div>
      </div> -->
    </div>
    <hr />
    <!-- Bill Details -->
    <div class="booking-status">
      <h3>Bill Details</h3>
      <div class="p-fluid grid formgrid">
        <div class="field col-4">
          <div class="label">Charge per Km</div>
          <div class="value">{{ odPrintDetails.chargePerKm | number:'1.2-2'}}</div>
        </div>
        <div class="field col-4">
          <div class="label">Gross Total</div>
          <div class="value">{{ odPrintDetails.grossAmount | number:'1.2-2'}}</div>
        </div>
        <div class="field col-4">
          <div class="label">Discount</div>
          <div class="value">{{ odPrintDetails.discountAmount | number:'1.2-2'}}</div>
        </div>
      </div>
      <div class="p-fluid grid formgrid">
        <div class="field col-4">
          <div class="label">Service Charge</div>
          <div class="value">{{ odPrintDetails.serviceChargeAmount | number:'1.2-2'}}</div>
        </div>
        <div class="field col-4">
          <div class="label">Taxes</div>
          <div class="value">{{ odPrintDetails.taxAmount | number:'1.2-2'}}</div>
        </div>
        <div class="field col-4">
          <div class="label">Vat</div>
          <div class="value">{{ odPrintDetails.vatAmount | number:'1.2-2'}}</div>
        </div>
      </div>
    </div>

    <h5>Total Amount : {{ odPrintDetails.totalAmount | number:'1.2-2'}}</h5>

    <hr />

    <!-- Footer Section -->
    <div class="invoice-footer">
      <div class="footer-note">
        <p>
          Thank you for booking with us. We look forward to serving you again!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-content-end align-items-center gap-2">
  <button
    id="print"
    class="p-button-sm p-button p-component p-ripple"
    printSectionId="demo"
    [useExistingCss]="true"
    ngxPrint
  >
    <i class="pi pi-print mr-2" style="font-size: 1rem"></i> Print
  </button>
</div>
