<div class="surface-50 px-4 py-4 md:px-6 lg:px-8">
  <p-divider layout="horizontal" class="surface-border"></p-divider>
  <div class="grid grid-nogutter text-center lg:text-left">
    
    <!-- Company Info -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column align-items-center lg:align-items-start">
      <img src="assets/logo.png" class="w-7rem mx-auto lg:mx-0" alt="RideX Logo" style="height: 70px;"/>
      <div class="flex align-items-center w-full mt-5 justify-content-center lg:justify-content-start">
        <a tabindex="0" class="cursor-pointer mr-3"><i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i></a>
        <a tabindex="0" class="cursor-pointer mr-3"><i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i></a>
        <a tabindex="0" class="cursor-pointer mr-3"><i class="pi pi-instagram surface-900 p-1 text-sm border-circle text-0"></i></a>
      </div>
      <span class="text-600 block mt-4"><i class="pi pi-phone mr-2"></i>+1 234 567 890</span>
      <a tabindex="0" class="text-600 block mt-4 cursor-pointer hover:text-900 transition-duration-150 select-none">
        <i class="pi pi-map-marker mr-2"></i>Contact Us
      </a>
    </div>

    <!-- Quick Links -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
      <span class="text-900 text-xl font-medium block">Quick Links</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">About Us</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">How It Works</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Ride Options</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Driver Sign-Up</a></li>
      </ul>
    </div>

    <!-- Customer Support -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
      <span class="text-900 text-xl font-medium block">Customer Support</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Help Center</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Booking Assistance</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Payment Issues</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Cancellation & Refund</a></li>
      </ul>
    </div>

    <!-- Legal -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
      <span class="text-900 text-xl font-medium block">Legal</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Privacy Policy</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms of Service</a></li>
        <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Safety Guidelines</a></li>
      </ul>
    </div>
  </div>
</div>
