<!-- <app-header></app-header> -->

<div style="margin-top: 100px" class="mb-3">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center font-bold text-900 text-5xl mb-3">"Your Trusted Ride, Anytime, Anywhere!" 🚖</div>
    <div class="surface-section px-4 py-2 md:px-6 lg:px-8 text-700">
      <div class="flex flex-wrap">
          <div class="w-full lg:w-6 pr-0 lg:pr-5 py-6">
              <div class="line-height-4 text-xl text-600">  At Mega City Cab, we are committed to providing safe, reliable, and affordable transportation solutions for everyone. Whether you need a quick ride across the city or a long-distance journey, our fleet is ready to serve you with comfort and convenience.

                Our mission is to make travel seamless by offering efficient booking, professional drivers, and well-maintained vehicles. With a focus on punctuality, safety, and customer satisfaction, we strive to deliver the best ride-hailing experience in Sri Lanka.
                
                With 24/7 availability, multiple vehicle options, and transparent pricing, Mega City Cab ensures that your journeys are stress-free and enjoyable. Whether it's for work, leisure, or special occasions, we are here to get you to your destination—on time, every time.
                
                Book your ride today and experience a smarter way to travel with Mega City Cab. </div>
          </div>
          <div class="w-full lg:w-6 pl-0 lg:pl-5 pt-5">
              <img src="assets/images/user/aboutus.jpg" alt="Image" class="w-full border-round">
              <div class="text-center text-sm font-medium mt-3">megacitycab24.lk</div>
          </div>
      </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->
