<app-header></app-header>

<div style="margin-top: 100px" class="mb-3">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center font-bold text-900 text-5xl mb-3">Who Are We?</div>
    <div class="text-center text-xl line-height-3 text-600 mb-6">
      Faucibus ornare suspendisse sed nisi. Nisl rhoncus mattis rhoncus urna
      neque viverra justo nec.
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div
          class="relative overflow-hidden"
          (mouseenter)="visibleMember = 0"
          (mouseleave)="visibleMember = null"
        >
          <img
            src="assets/images/blocks/illustration/team-5.png"
            class="w-full block"
          />
          <div
            class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
            style="background-color: rgba(0, 0, 0, 0.7)"
            *ngIf="visibleMember === 0"
          >
            <div class="flex flex-column p-5 h-full">
              <span class="block font-medium text-white text-xl mb-3"
                >Jeff Davies</span
              >
              <span class="font-medium text-400">Software Developer</span>
              <div class="mt-auto">
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-twitter text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-github text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-facebook text-600 text-xl"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div
          class="relative overflow-hidden"
          (mouseenter)="visibleMember = 1"
          (mouseleave)="visibleMember = null"
        >
          <img
            src="assets/images/blocks/illustration/team-6.png"
            class="w-full block"
          />
          <div
            class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
            style="background-color: rgba(0, 0, 0, 0.7)"
            *ngIf="visibleMember === 1"
          >
            <div class="flex flex-column p-5 h-full">
              <span class="block font-medium text-white text-xl mb-3"
                >Kristin Watson</span
              >
              <span class="font-medium text-400">UI/UX Designer</span>
              <div class="mt-auto">
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-twitter text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-github text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-facebook text-600 text-xl"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div
          class="relative overflow-hidden"
          (mouseenter)="visibleMember = 2"
          (mouseleave)="visibleMember = null"
        >
          <img
            src="assets/images/blocks/illustration/team-7.png"
            class="w-full block"
          />
          <div
            class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
            style="background-color: rgba(0, 0, 0, 0.7)"
            *ngIf="visibleMember === 2"
          >
            <div class="flex flex-column p-5 h-full">
              <span class="block font-medium text-white text-xl mb-3"
                >Jenna Williams</span
              >
              <span class="font-medium text-400">Marketing Specialist</span>
              <div class="mt-auto">
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-twitter text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-github text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-facebook text-600 text-xl"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div
          class="relative overflow-hidden"
          (mouseenter)="visibleMember = 3"
          (mouseleave)="visibleMember = null"
        >
          <img
            src="assets/images/blocks/illustration/team-8.png"
            class="w-full block"
          />
          <div
            class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
            style="background-color: rgba(0, 0, 0, 0.7)"
            *ngIf="visibleMember === 3"
          >
            <div class="flex flex-column p-5 h-full">
              <span class="block font-medium text-white text-xl mb-3"
                >Joe Clifford</span
              >
              <span class="font-medium text-400">Customer Relations</span>
              <div class="mt-auto">
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-twitter text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-github text-600 text-xl mr-3"></i
                ></a>
                <a tabindex="0" class="cursor-pointer text-white"
                  ><i class="pi pi-facebook text-600 text-xl"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
