<div class="text-2xl font-semibold">Customer Accounts</div>
  <div class="mt-4 mb-4">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
  </div>

  <p-table
    [value]="customers"
    [paginator]="true"
    [rows]="10"
    [first]="first"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>DOB</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.fname }}</td>
        <td>{{ customer.lname }}</td>
        <td>{{ customer.mobile }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.dob }}</td>
        <td>
            <div class="flex items-center justify-center gap-2">
                <p-button icon="pi pi-eye" [rounded]="true" severity="primary" [outlined]="true" (click)="clickOnViewDetails(customer)" />
                <p-button icon="pi pi-pencil" [rounded]="true" severity="success" [outlined]="true" (click)="clickOnViewDetails(customer)" />
                <p-button icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true" (click)="clickOnViewDetails(customer)" />
            </div>
        </td>
      </tr>
      <p *ngIf="!customers || customers.length === 0">No data available</p>
    </ng-template>
  </p-table>
