<app-header></app-header>

<form action="" [formGroup]="FV">
  <div style="margin-top: 100px" class="mb-3">
    <div class="bg-cyan-700 px-4 lg:px-8 py-2 text-center">
      <span class="text-white">
        <marquee behavior="" direction="left">
          Buy 1 get 1 Free - Until October 31, 2024
        </marquee>
      </span>
    </div>
    <!-- section 01 -->
    
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">"Your Ride, Your Choice! 🚖</span>
      <div class="text-6xl text-primary font-bold mb-3">Find the Perfect Ride for Your Journey</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
          Book your ride effortlessly—choose your preferred vehicle and driver for a smooth and comfortable journey. Enjoy reliable, safe, and hassle-free travel at your fingertips!
      </p>
      
      <button pButton pRipple label="Book a Ride" type="button" class="mr-3 p-button-raised"></button>
  </section>
  
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="assets/taxi.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
  </div>
</form>

<app-footer></app-footer>
