<app-header></app-header>

<form action="" [formGroup]="FV">
  <div style="margin-top: 100px" class="mb-3">
    <div class="bg-cyan-700 px-4 lg:px-8 py-2 text-center">
      <span class="text-white">
        <marquee behavior="" direction="left">
          Buy 1 get 1 Free - Until October 31, 2024
        </marquee>
      </span>
    </div>
    <!-- section 01 -->
    <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
      <div
        class="flex flex-wrap relative overflow-hidden"
        style="
          border-radius: 1rem;
          background: radial-gradient(
              100% 1126.49% at 100% 0%,
              rgba(106, 200, 212, 0.4) 0%,
              rgba(33, 33, 33, 0) 100%
            ),
            #212121;
        "
      >
        <div class="grid formgrid">
          <div class="col-8">
            <div class="px-6 py-8">
              <span class="uppercase text-cyan-500 font-bold"
                >BE THE FIRST ONE</span
              >
              <div class="text-white text-medium text-5xl mt-3 mb-5">
                Get Your Car Ready!
              </div>
              <button
                RippleModule
                class="appearance-none"
                class="p-3 bg-cyan-500 hover:bg-cyan-300 cursor-pointer transition-colors font-medium gray-900 border-none p-component transition-colors transition-duration-150"
                style="border-radius: 35px"
              >
                Reserve Your Foods
              </button>
            </div>
          </div>
          <div class="col-4">
            <img
              src="assets/images/logos/Chef-bro.png"
              alt="Image"
              class="static lg:absolute block mx-auto"
              style="height: 400px; top: -2rem; right: -1rem"
            />
          </div>
        </div>

        <img
          src="assets/images/blocks/cta/cta-browser.png"
          alt="Image"
          class="static lg:absolute block mx-auto"
          style="height: 400px; top: -2rem; right: -1rem"
        />
      </div>
    </div>
    <div class="grid formgrid align-items-center mb-3 p-8">
      <div class="col-12">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex align-items-center mb-4 md:mb-0">
            <div class="text-900 font-bold text-3xl">Category</div>
          </div>
          <div>
            <button
              type="button"
              pButton
              icon="pi pi-sort-alt"
              class="p-button-outlined p-button-secondary w-7rem p-2"
              iconPos="right"
              label="Sort By"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>
        </div>
        <p class="text-600 text-xl">
          Nullam faucibus, sem et bibendum finibus, sapien ipsum congue felis,
          sit amet pretium ex nisl ut eros.
        </p>
        <p-divider styleClass="w-full border-gray-200"></p-divider>
        <div class="p-fluid grid formgrid align-items-center mb-3">
          <div class="field col-3">
            <label for="category">Category</label>
            <p-dropdown
              [options]="foodCategory"
              formControlName="selectedCategory"
              placeholder="'Select Categories'"
              optionLabel="foodCategoryName"
              styleClass="w-full"
              (onChange)="onChangeCategories()"
              [filter]="true"
              appendTo="body"
            >
            </p-dropdown>
          </div>
          <div class="field col-3">
            <label for="category">Type</label>
            <p-dropdown
              [options]="foodTypes"
              formControlName="foodType"
              placeholder="Select Food Type"
              optionLabel="foodTypeName"
              styleClass="w-full"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="col-12">
          <div class="surface-section">
            <ng-container *ngIf="foods.length > 0">
              <div class="grid mt-3">
                <div
                  *ngFor="let item of foods"
                  class="col-12 md:col-6 mb-5 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none"
                >
                  <div class="p-2">
                    <img
                      src="{{ item.foodImage }}"
                      class="w-full mb-3"
                      style="height: 100px; width: 100px"
                    />
                    <div class="text-900 text-xl font-medium mb-2">
                      LKR
                      {{ item.foodPrice | number : "1.2-2" }}
                    </div>
                    <span class="text-900">{{ item.foodName }}</span>
                  </div>
                  <div class="flex">
                    <button
                      type="button"
                      pButton
                      label="Add to cart"
                      class="p-button-outlined p-button-warning mr-1"
                      iconPos="right"
                    ></button>
                    <button
                      type="button"
                      pButton
                      label="Buy"
                      class="p-button-success"
                      iconPos="right"
                    ></button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="products.length < 1"> </ng-container>
          </div>
        </div>
        <div class="col-12">
          <p-divider styleClass="w-full border-gray-200"></p-divider>
          <label class="text-xl font-bold" for="">Most Popular</label>
          <div class="surface-section mt-2">
            <ng-container *ngIf="foods.length > 0">
              <div class="grid mt-3">
                <div
                  *ngFor="let item of foods"
                  class="col-12 md:col-6 mb-5 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none"
                >
                  <div class="p-2">
                    <img
                      src="{{ item.foodImage }}"
                      class="w-full mb-3"
                      style="height: 100px; width: 100px"
                    />
                    <div class="text-900 text-xl font-medium mb-2">
                      LKR
                      {{ item.foodPrice | number : "1.2-2" }}
                    </div>
                    <span class="text-900">{{ item.foodName }}</span>
                  </div>
                  <div class="flex">
                    <button
                      type="button"
                      pButton
                      label="Add to cart"
                      class="p-button-outlined p-button-warning mr-1"
                      iconPos="right"
                      (click)="onClickAddToCart(item)"
                    ></button>
                    <button
                      type="button"
                      pButton
                      label="Buy"
                      class="p-button-success"
                      iconPos="right"
                    ></button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="products.length < 1"> </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- section 02 -->
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="flex flex-wrap">
        <div
          class="flex md:col-6 xl:col-3 align-items-center flex-auto p-5 border-left-2 xl:border-left-none xl:border-top-2 border-pink-500"
        >
          <i class="pi pi-circle text-pink-500 text-4xl mr-5"></i>
          <div>
            <span class="text-900 font-medium text-xl">Delicious Meals</span>
            <p class="text-600 line-height-3 p-0 mt-3 mb-0">
              Enjoy a variety of freshly prepared dishes made with the finest
              ingredients.
            </p>
          </div>
        </div>
        <div
          class="flex md:col-6 xl:col-3 align-items-center flex-auto p-5 border-left-2 xl:border-left-none xl:border-top-2 border-blue-500"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-4xl mr-5"></i>
          <div>
            <span class="text-900 font-medium text-xl"
              >Farm Fresh Ingredients</span
            >
            <p class="text-600 line-height-3 p-0 mt-3 mb-0">
              Sourced from local farms to ensure quality and freshness in every
              bite.
            </p>
          </div>
        </div>
        <div
          class="flex md:col-6 xl:col-3 align-items-center flex-auto p-5 border-left-2 xl:border-left-none xl:border-top-2 border-orange-500"
        >
          <i class="pi pi-heart text-orange-500 text-4xl mr-5"></i>
          <div>
            <span class="text-900 font-medium text-xl">Health & Safety</span>
            <p class="text-600 line-height-3 p-0 mt-3 mb-0">
              Your safety is our priority. We adhere to the highest hygiene
              standards.
            </p>
          </div>
        </div>
        <div
          class="flex md:col-6 xl:col-3 align-items-center flex-auto p-5 border-left-2 xl:border-left-none xl:border-top-2 border-cyan-500"
        >
          <i class="pi pi-bolt text-cyan-500 text-4xl mr-5"></i>
          <div>
            <span class="text-900 font-medium text-xl">Quick Service</span>
            <p class="text-600 line-height-3 p-0 mt-3 mb-0">
              Fast and friendly service to ensure you enjoy your meal without
              the wait.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
