
    <div class="surface-card p-4 shadow-2 border-round p-fluid">
        <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6">
                <label for="first-name" class="font-medium text-900">First Name</label>
                <input id="first-name" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="last-name" class="font-medium text-900">Last Name</label>
                <input id="last-name" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="mobile" class="font-medium text-900">Mobile No</label>
                <input id="mobile" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="customer_email" class="font-medium text-900">Email</label>
                <input id="customer_email" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="dob" class="font-medium text-900">Date Of Birth</label>
                <p-calendar id="dob" [showIcon]="true"></p-calendar>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="join_date" class="font-medium text-900">Join Date</label>
                <p-calendar id="join_date" [showIcon]="true"></p-calendar>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="vType" class="font-medium text-900">Vehicle Type</label>
                <input id="vType" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="vNo" class="font-medium text-900">Vehicle No</label>
                <input id="vNo" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="vNo" class="font-medium text-900">Full Time or Part Time</label>
                <input id="vNo" type="text" pInputText>
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="vNo" class="font-medium text-900">Working District</label>
                <input id="vNo" type="text" pInputText>
            </div>
            <!-- <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div> -->
        </div>
        <!-- <button pButton pRipple label="Create" icon="pi pi-file" class="w-auto"></button> -->
    </div>
